
html {
	font-family: calibri;
	background-color: black;
	color: yellow;
}

#titlePicture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 300px;
}

#titleVideo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 300px;
}

nav {
  display:flex;
  flex:1;
  justify-content:center;
  width:100%;
  height:50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0000ff;
  border-radius: 10px 3em;
}

.lia {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: x-large;
}

.lia:hover {
  background-color: #00008b;
}

.dishIMG {
	position: relative;
	width: 150px;
	height: 135px;
	margin-top: 0px;
	margin-left: 50px;
	float: left;
}

.dishTitle {
	margin-left: 20px;
	float: left;
	margin-bottom: 0px;
}

.dishPara {
	margin-left: 220px;
}

.vertnav {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.liav {
    display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: x-large;
}

.liav:hover {
  background-color: green;
}

.tryright {
	float: right
}
.dishIMG2 {
	position: relative;
	width: 150px;
	height: 135px;
	margin-top: 0px;
	margin-left: -250px;
}

.dishTitle2 {
	margin-left: -60px;
	margin-bottom: 0px;
	margin-top: -120px;
}

.dishPara2 {
	margin-left: -60px;
	margin-right: 60px;
}


footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: lightgrey;
	
}
